QWidget {
	background-color: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 1,stop: 0 #000000, stop: 1 #be1a1a);
    selection-background-color: red;
    color: #ffffff;}

QPushButton {
            border: 2px solid #8f8f91;
            border-radius: 6px;
            background-color: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 1,
            stop: 0 #000000, stop: 1 #730000);
            min-width: 80px;}
            
QPushButton:hover {
                  background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                  stop: 0 #1b1a1a, stop: 1 #be1a1a);}
                  
QPushButton:pressed {
                    background-color: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 1,
                                              stop: 0 #ffffff, stop: 1 #be1a1a);}
                                              
QPushButton#psn:checked {
                        background-color: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 1,
                                              stop: 0 #ffffff, stop: 1 #be1a1a);}

QMainWindow {
            background-color: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 1,
                                              stop: 0 #000000, stop: 1 #be1a1a);
            width: 10px; 
            height: 10px;}

QLineEdit{
          border: 2px solid #8f8f91;
          border-radius: 6px;}

QMenu {
      background-color: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 1,
                                                      stop: 0 #000000, stop: 1 #730000);
      border: 2px solid #8f8f91;
      border-radius: 6px;
      border-color:red;}

QMenu::item:selected {
                    background-color: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 1,
                                              stop: 0 #ffffff, stop: 1 #be1a1a);
                    border: 2px solid #8f8f91;
                    border-radius: 6px;}

QMenuBar {
         background-color: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 1,
                    stop: 0 #000000, stop: 1 #730000);
         border: 2px solid #8f8f91;
         border-radius: 6px;}

QMenuBar::item {
               background-color: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 1,
                                                      stop: 0 #000000, stop: 1 #730000);
               
               border: 2px solid #8f8f91;
               border-radius: 6px;
               spacing: 6px;
               min-width: 80px;}

QMenuBar::item:selected {
                        background-color: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 1,
                                                              stop: 0 #1b1a1a, stop: 1 #be1a1a);
                        border: 2px solid #8f8f91;
                        border-radius: 6px;}

QMenuBar::item:pressed {
                       background-color: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 1,
                                                             stop: 0 #ffffff, stop: 1 #be1a1a);
                       border: 2px solid #8f8f91;
                       border-radius: 6px;}
	 
QTabWidget::pane {
                 border-top: 2px solid #C2C7CB;
                 position: absolute;
                 top: -0.5em;}

QTabBar::tab {
            background-color: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 1,
                                              stop: 0 #000000, stop: 1 #730000); 
            border: 2px solid #8f8f91;
            border-radius: 6px;
            min-width: 80px;}

QTabBar::tab:selected, QTabBar::tab:hover {
                       background-color: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 1,
                                                             stop: 0 #ffffff, stop: 1 #be1a1a);}

QLabel{
       border: 2px solid #8f8f91;
       border-radius: 6px;}

QToolBar {
         border: 2px solid #8f8f91;
         border-radius: 6px;}

QTextEdit {
          border: 3px solid #8f8f91;
          border-radius: 6px;}

QSplitter::handle {
                  background-color: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 1,
                                                          stop: 0 #000000, stop: 1 #730000);}
                                                          
QSplitter::handle:vertical {
                           heigth: 2px;}

QSplitter::handle:pressed {
                          background-color: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 1,
                                                                stop: 0 #ffffff, stop: 1 #be1a1a);}

QTableWidget {
             selection-background-color:qlineargradient(x1: 0, y1: 0, x2: 1, y2: 1,
                                                            stop: 0 #ffffff, stop: 1 #be1a1a);
             border: 2px solid #8f8f91;
             border-radius: 6px;
		  color:red;}

QRadioButton {
             border: 2px solid #8f8f91;
             border-radius: 6px;}
